<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
asdasdsad


<div id="demo">

</div>
<script>

    var arr = ['asd','asd','asd','asd','asd','asd','asd','asd','asd',];


    var len = arr.length;


    for (let i = 0; i < len; i++) {
        $('#demo').append('<div>'+arr[i]+'</div>')
    }

    var string = '';
    for (let i = 0; i < len; i++) {
        string += '<div>'+arr[i]+'</div>';
    }
    $('#demo').html(string);

</script>
</body>
</html>